:root {
  --color-arsenic: #3a4042;
  --color-old-silver: #828282;
  --color-eggshell: #eae6da;
  --color-floral-white: #fffcee;
  --color-fiery-rose: #f25a70;

  --color-dark-slate-grey: #385062;
  --color-purple-navy: #4c5b84;
}
