:root {
  --color-arsenic: #3a4042;
  --color-arsenic-light: rgba(58, 64, 66, 0.5);
  --color-old-silver: #828282;
  --color-eggshell: #eae6da;
  --color-eggshell-light: rgba(234, 230, 218, 0.3);
  --color-floral-white: #fffcee;
  --color-floral-white-light: rgba(255, 252, 238, 0.1);
  --color-fiery-rose: #f25a70;

  --color-dark-slate-grey: #385062;
  --color-purple-navy: #4c5b84;
}
