body {
  font-size: var(--size-body-first);
  background-repeat: no-repeat;
  background-color: var(--color-purple-navy);
  background-image: linear-gradient(
    180deg,
    var(--color-dark-slate-grey) 0%,
    var(--color-purple-navy) 35.42%
  );
}
